{% extends 'base.html' %}
{% block content %}
    <h3> Zamowienie </h3>
    <ul>
        {% for product, amount in products %}
            <li>Produkt: {{product.name}} Cena: {{product.price}} Ilość: {{amount}}</li>
        {% endfor %}
    </ul>
    <h3> Łączna wartość produktów w koszyku: {{total_price}}</h3>
    <form action="/order/" method = "post">
        {% csrf_token %}
        {{form}}
        <label for="Discount">Kod rabatowy</label>
        <input id="Discount" type="text" name="discount">
        <input type = "submit" value="Złóż zamówienie">
    </form>
{% endblock %}